/* Write your CSS here */

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  background-color: #f1f5f9;
  padding: 5px;
  border-radius: 10px;
}

.image {
  width: 20px;
}

.inputElement {
  border-width: 0px;
  background-color: #f1f5f9;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
